.container-fluid{
	background-color: rgba(0, 223, 255, 0.6);
	margin: 0px;
}

.part1 {
	height: 500px;
	padding: 60px;
	background-color: white;
	margin: 0px;
}

.part2{
	margin: 0px;
}
.part2_1{
	margin-left: 88.5px;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-right: 0px;
	width=470px;
	height=400px;
}
.part2_2{
	padding: 50px;
	background-color: white;
	margin-right: 88.5px;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 0px;
	width=470px;
	height=400px;
}
.part3{
	margin: 20px;
	padding: 20px;
}